* {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #4a4e69;
}
h1 {
    background-color: #22223b;
    height: 10vmin;
    line-height: 10vmin;
    color: #f2e9e4;
}
.container {
    height: 70vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vmin;
}
.game {
    height: 65vmin;
    width: 65vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.box {
    height: 21vmin;
    width: 21vmin;
    background-color: #f2e9e4;
    border-radius: 0.8rem;
    font-size: 10vmin;
}

.reset {
    font-size: 4vmin;
    color:#F2E9E4;
    background-color: #9A8C98;
    display: inline-block;
    padding: 1rem;
    border-radius: .3rem;
    font-weight: bold;
}